# Environment files
.env
.env.*
!.env.example
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Dependencies and Build
node_modules/
dist/
build/

# IDEs and Editors
.vscode/
.DS_Store

# Logs and Cache
*.log
*.cache

# Databases
*.sqlite
*.db
*.db-journal

# Windows reserved device names
nul
con
prn
aux
com1
lpt1

.aider*
